body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
    display:flex;
    align-items: center;
    flex-direction: row;
    width:400px;
    justify-content: space-around;
    margin-bottom:20px;
}
.footer{
    display:flex;
    align-items: center;
    flex-direction: row;
    width:400px;
    justify-content: space-between;
    margin-top:20px;
}

.board{
    width:500px;
    height:500px;
    border: 1px solid black;
    display:grid;
}